<div class="mypage">
  <div class="back-btn"><%= link_to '戻る',root_path %></div>
  <div class="user-infomaition">
    <div class="user-name"><%= current_user.nick_name %></div>
    <div class="user-image">画像</div>
    <div class="user-mail"><%= current_user.email %></div>
  </div>
  <div class="user-edit-menu">
    <%= link_to 'ユーザー情報を編集する', edit_user_path(current_user) %>
  </div>
</div>