<div class="side-bar-content">
  <div class="user-menu">
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "user-menu" do %>
        <div class="user-icon">画像</div>
        <div class="user-show-path">マイページ</div>
      <% end %>
    <% else %>
      <div class="user_icon">画像</div>
      <div class="user-show-path">ユーザーは未登録です</div>
    <% end %>
  </div>
  <div class="group-menu">
    <% if user_signed_in? %>
      <div class="group-new-menu">
        <%= link_to '新規グループの作成', new_task_group_path, class: "group-new-path" %>
      </div>
      <div class="group-index">
        <div class="group-index-title">
          参加中のグループ一覧
        </div>
        <div class="group-index-menu">
        
        </div>
      </div>
    <% else %>
      <div class="yet-signed-aleat">
        <p>グループ機能を使用するには新規登録が必要です</p>   ""
      </div>
    <% end %>
  </div>
</div>