<div class="yet-user-main">
  <div class="yet-user-main-description">
    <p class="yet-user-main-description-title">複数のチーム、プロジェクト、タスクを１つのツールで管理しよう！</p>
    <p class="yet-user-main-description-main">
      職場で複数のチームに所属しながら、それぞれでプロジェクトを進行しなければいけない場面に遭遇したことはありませんか？
      このアプリはあなたの問題を解決します！
    </p>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title">group機能</p>
      <p class="yet-user-main-description-main-content">職場内での複数のチームを管理</p>
    </div>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title">space機能</p>
      <p class="yet-user-main-description-main-content">チームごとのプロジェクトを管理</p>
    </div>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title">task機能</p>
      <p class="yet-user-main-description-main-content">プロジェクト内のタスクを管理</p>
    </div>
  </div>
  <div class="yet-user-main-image">
  </div>
</div>
<div class="yet-user-detail">
  <div class="yet-user-detail-title">このアプリの使い方</div>
  <div class="yet-user-detail-title">~ チームを作成しよう ~</div>
  <div class="yet-user-detail-title">~ プロジェクトを作成しよう ~</div>
  <div class="yet-user-detail-title">~ タスクを作成しよう ~</div>
</div>