<div class="yet-user-main">
  <div class="yet-user-main-description">
    <p class="yet-user-main-description-title">複数のチーム、プロジェクト、タスクを１つのツールで管理しよう！</p>
    <p class="yet-user-main-description-main">
      職場で複数のチームに所属しながら、それぞれでプロジェクトを進行しなければいけない場面に遭遇したことはありませんか？
      このアプリは<span class="three">3つ（TPT）</span>の機能であなたのタスク管理をサポートします！
    </p>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title"><span class="capital">T</span>eam機能</p>
      <p class="yet-user-main-description-main-content">職場内での複数のチームを管理</p>
    </div>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title"><span class="capital">P</span>rojects機能</p>
      <p class="yet-user-main-description-main-content">チームごとのプロジェクトを管理</p>
    </div>
    <div class="yet-user-main-description-main-contents">
      <p class="yet-user-main-description-main-title"><span class="capital">T</span>asks機能</p>
      <p class="yet-user-main-description-main-content">プロジェクト内のタスクを管理</p>
    </div>
  </div>
  <div class="yet-user-allow">
    <%= image_tag 'left-allow.png', size: '120x150', class: 'task-image' %>
  </div>
  <div class="yet-user-main-image">
     <%= image_tag 'task-model.jpg', size: '300x400', class: 'task-image' %>
  </div>
</div>
<div class="yet-user-detail">
  <div class="yet-user-detail-title">タスクを管理しよう！</div>
  <div class="yet-user-detail-title">~ チームを作成しよう ~</div>
  <div class="yet-user-detail-content-left">
    <div class="yet-user-detail-content"></div>
  </div>
  <div class="yet-user-detail-title">~ プロジェクトを作成しよう ~</div>
  <div class="yet-user-detail-content-right">
    <div class="yet-user-detail-content"></div>
  </div>
  <div class="yet-user-detail-title">~ タスクを作成しよう ~</div>
  <div class="yet-user-detail-content-left">
    <div class="yet-user-detail-content"></div>
  </div>
</div>