a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
span {
  color: red;
}
a:hover {
  color: lightskyblue;
}
/* ヘッダーのCSS */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(50px - 3px);
  background-color: rgb(92, 94, 92);
  border-bottom: 3px solid rgb(65, 94, 36);
}
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: calc(100vw - 60%);
}
.app-title-name {
  color: rgb(236, 236, 227);
  font-size: 30px;
}
.log-menu {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 10px;
  padding: 0px 5px;
  border-left: 1px solid ghostwhite;
  border-right: 1px solid ghostwhite;
}
.log-menu-content {
  color: ghostwhite;
}
.log-menu-content-new {
  color: ghostwhite;
  margin-left: 10px;
}
/* メインコンテンツのCSS */
.wrapper {
  justify-content: center;
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: linear-gradient( 135deg, #f0f1f1 10%, #bcdad7 100%);
}
.side-bar {
  width: 200px;
  background-color: rgb(112, 163, 61);
  border-left: 1px solid rgb(223, 223, 223);
}
.main-window {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60vw;
  background-color: ghostwhite;
  border-right: 1px solid rgb(223, 223, 223);
  overflow: scroll;
}
/* フッターのCSS */
.footer {
  padding-top: 10px;
  height: calc(50px - 10px - 1px);
  background: rgb(209, 209, 209);
  border-top: 1px solid gray;
  text-align: center;
}

/* 未登録ユーザーへの表示 */
.yet-user-wrapper {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 100px - 40px);
  padding: 20px 0px;
  overflow: scroll;
  background-image: linear-gradient( 135deg, #f0f1f1 10%, #85cfc8 100%);
}


/* スマホ表示時 */
@media (max-width: 599px) {
  /* ヘッダーのCSS */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100px - 3px);
    background-color: rgb(92, 94, 92);
    border-bottom: 3px solid rgb(65, 94, 36);
  }
  .app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: calc(100vw - 60%);
  }
  .app-title-name {
    color: rgb(236, 236, 227);
    font-size: 30px;
  }
  .log-menu {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 10px;
    padding: 0px 5px;
    border-left: 1px solid ghostwhite;
    border-right: 1px solid ghostwhite;
  }
  .log-menu-content {
    color: ghostwhite;
  }
  .log-menu-content-new {
    color: ghostwhite;
    margin-left: 10px;
  }
  /* メインコンテンツのCSS */
  .wrapper {
    justify-content: center;
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    background-image: linear-gradient( 135deg, #f0f1f1 10%, #bcdad7 100%);
  }
  .side-bar {
    width: 200px;
    height: 100%;
    background-color: rgb(112, 163, 61);
    border-left: 1px solid rgb(223, 223, 223);
  }
  #index-side {
    width: 80%;
  }
  .main-window {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: calc(100vw - 200px);
    background-color: ghostwhite;
    border-right: 1px solid rgb(223, 223, 223);
    overflow: scroll;
    text-align: center;
  }
  /* フッターのCSS */
  .footer {
    padding-top: 10px;
    height: calc(50px - 10px - 1px);
    background: rgb(209, 209, 209);
    border-top: 1px solid gray;
    text-align: center;
    display: none;
  }

  /* 未登録ユーザーへの表示 */
  .yet-user-wrapper {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 100px - 40px);
    padding: 20px 0px;
    overflow: scroll;
    background-image: linear-gradient( 135deg, #f0f1f1 10%, #85cfc8 100%);
  }
}
