a {
  text-decoration: none;
}
/* ヘッダーのCSS */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(50px - 1px);
  background-color: ghostwhite;
  border-bottom: 1px solid gray;
}
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: calc(100vw - 60%);
}
.app-title-name {
  color: black;
  font-size: 30px;
}
.log-menu {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 10px;
  padding: 0px 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.registraition-menu {
  margin-left: 10px;
}
/* メインコンテンツのCSS */
.wrapper {
  justify-content: center;
  display: flex;
  height: calc(100vh - 100px);
  background-color: white;
}
.side-bar {
  width: 200px;
  background-color: rgb(218, 236, 236);
  border-left: 1px solid rgb(223, 223, 223);
}
.main-window {
  width: calc(100vw - 40%);
  background-color: azure;
  border-right: 1px solid rgb(223, 223, 223);
}
/* フッターのCSS */
.footer {
  height: calc(50px - 1px);
  background: ghostwhite;
  border-top: 1px solid gray;
}