/* トップ画面のグループインデックス */

/* グループ作成画面 */
.form-title {
  margin: 60px 0px 20px 0px;
  text-align: center;
}
.field-form-name {
  width: 30vw;
  margin-bottom: 20px;
}
.field-form-description {
  width: 90%;
  height: 80px;
  margin-bottom: 50px;
}
.field-default {
  width: calc(100% - 32px);
  margin-top: 5px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  resize: none;
}
.field-description {
  width: calc(100% - 32px);
  margin-top: 5px;
  height: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  resize: none;
}
.task-group-member-field {
  min-height: 150px;
  width: 100%;
  border: 1px solid lightslategrey;
  padding: 5px 10px;
  overflow: scroll;
}
label {
  margin: 10px 17px 10px 3px;
}

/* スマホ表示時 */
@media (max-width: 599px) {
  #index-window {
    display: none;
  }
}