.side-bar-content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 110px);
  width: 190px;
  background-color: whitesmoke;
  margin: 5px auto;
  border-radius : 10px;
}
/* ユーザーの情報 */
.user-menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  background-color: white;
  border-radius : 50px;
}
.user-icon {
  text-align: center;
}
.user-image {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 50px;
}
.user-show-path{
  text-align: center;
}
/* グループの情報 */
.group-menu {
  height: calc(100vh - 350px);
  width: 180px;
  background-color: rgb(218, 255, 131);
  border-radius : 10px;
}
.group-new-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 50px;
  width: 150px;
  border-bottom: 1px solid black;
}
.group-index {
  margin: 10px auto;
  height: calc(100vh - 420px);
  width: 170px;
  background-color: rgb(216, 190, 141);
  border-radius : 5px;
}
.group-index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.group-index-menu {
  height: calc(100vh - 420px - 50px);
  overflow: scroll;
}
.group-index-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 150px;
  border-bottom: 1px solid white;
}
.group-index-content:hover {
  background-color: rgb(201, 212, 194);
}
.group-index-content-link {
  color: white;
  transition: 0.8s;
}
.group-index-content-link:hover {
  color: black;
}