/* スペースの情報を表示 */
.space-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: calc(100vh - 100px - 90%);
  min-height: 120px;
  width: 100%;
}
.space-info-title {
  height: 30px;
  font-size: 20px;
  padding: 10px 0px;
}
.space-info-index {
  height: 50px;
  width: 80%;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px 8px;
  overflow: scroll;
}
/* タスクの表示 */
.tasks-index {
  height: calc(100vh - 100px - 30%);
  min-height: 500px;
  width: 90%;
  margin: 10px 15px 10px 15px;
  padding: 0px 10px;
  border: 1px solid rgb(178, 192, 192);
  border-radius: 5px;
  overflow: scroll;
}
.task-index-contents {
  min-height: 300px;
  width: 100%;
  overflow: scroll;
}
/* 未完了のタスクの表示 */
.task-index-contents-title {
  margin-top: 10px;
  text-align: center;
}
.task-index-content {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
}
.task-edit {
  min-width: 60px;
}
.task-index-content-status {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-index-content-btn {
  display: block;
  margin: 5px 20px 5px 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;
}
.task-index-content-btn:hover {
  color: rgb(243, 242, 242);
  background-color: rgb(243, 242, 242);
  border: 1px solid rgb(243, 242, 242);
}
.task-index-content-deadline {
  font-size: 12px;
}
/* 完了済のタスクの表示 */
.task-index-contents-done {
  min-height: 200px;
  width: 100%;
  border-top: 1px solid black;
  overflow: scroll;
}
.task-index-content-done-btn {
  display: block;
  margin: 5px 20px 5px 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: black;
  background-color: black;
  border: 1px solid black(163, 163, 163);
  cursor: pointer;
}
.task-index-content-done-btn:hover {
  color: rgb(243, 242, 242);
  background-color: rgb(243, 242, 242);
  border: 1px solid rgb(243, 242, 242);
}
/* 新規のタスクを作成するフォーム */
.task-new {
  display: flex;
  align-items: center;
  background-color: cornsilk;
  height: calc(100vh - 100px - 80%);
  min-height: 150px;
  width: 100%;
  overflow: scroll;
}
.form-parts {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}
.form-part-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.form-part-content {
  width: 50vw;
}
.task-new-form-content {
  width: 100%;
}
.task-new-form-deadline {
  width: 10vw;
}
.form-part-btn {
  margin-left: 10px;
}
.task-new-form-submit {
  width: 50px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.task-new-form-submit:hover {
  color: white;
  background-color: gray;
}