/* registrations/new.html.erb */
.registration-main {
  width: calc(100vw - 800px);
}
.new-user-title {
  margin: 40px 0px 10px 0px;
  text-align: center;
}
.field {
  margin: 0px auto 20px;
}
.field-password {
  margin: 0px auto 20px;
  position: relative;
}
.input-default {
  width: 95%;
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 20px;
  resize: none;
}
.eye-btn {
  position:absolute;
  top:50%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
}
.file-field {
  margin: 40px auto 20px;
}
.file-default {
  border: none;
}
.actions {
  text-align: center;
  margin-top: 40px;
}
.button {
  height: 50px;
  width: 40%;
  background-color: rgb(63, 63, 63);
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}
.button:hover {
  background-color: white;
  color: black;
}
/* sessions/new.html.erb */
.login-user-title {
  margin: 40px 0px 100px 0px;
  text-align: center;
}
.link {
  text-align: center;
  margin-top: 130px;
}