.yet-user-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.yet-user-main-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 500px;
  padding: 50px;
  background-color: ghostwhite;
}
.yet-user-main-description-title {
  padding: 10px;
  font-size: 23px;
  margin-bottom: 10px;
  background-image: linear-gradient( 135deg, #8bdfae 10%, #002661 100%);
  color: whitesmoke;
  border-radius: 10px;
}
.yet-user-main-description-main {
  font-size: 18px;
  margin-bottom: 10px;
}
.three {
   color: chartreuse;
   margin-left: 10px;
 }
.yet-user-main-description-main-contents {
  display: flex;
  margin: 5px auto;
}
.capital {
  font-size: 1.1rem;
  color: chartreuse;
  margin-right: 3px;
}
.yet-user-main-description-main-title {
  display: flex;
  justify-content: center;
  width: 120px;
  margin-right: 30px;
}
.yet-user-main-description-main-content {
  width: 270px;
}
.yet-user-main-image {
  height: 400px;
}
/* アプリの詳細 */
.yet-user-detail {
  width: calc(100vw - 20%);
  margin: auto;
}
.yet-user-detail-title {
  width: calc(100vw - 300px);
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
.yet-user-detail-content-left {
  text-align: left;
}
.yet-user-detail-content-right {
  text-align: right;
}
.yet-user-detail-content {
  display: inline-block;
  height: 500px;
  width: 60%;
  margin-top: 10px;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 50px;
  background-color: ghostwhite;
}